.modal {
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 10;
    background-color: rgba(211, 211, 211, .85);
    width: 300px;
    max-width: 50%;
}

.instructions-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.instructions-modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.instructions-modal-header .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: copperplate;
}

.instructions-modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.instructions-modal-body {
    font-family: copperplate;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}