@import "./styles/reset.css";
@import "./styles/map.scss";
@import "./styles/modal.scss";
@import "./styles/instructions.scss";
@import "./styles/nav.scss";

h6 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: copperplate;
}