@import "./styles/reset.css";
// @import "./styles/example.scss"; // semi colons are important in scss!!!!!!!
@import "./styles/map.scss";
@import "./styles/modal.scss";

// we now have access to the variable we defined in the example.scss file
// in this file because we imported the file

// #main {
//     color: $color;
// }

h1 {
    font-size: 52px;
    display: flex;
    justify-content: center;
    font-family: 'Copperplate', sans-serif;
};